  <div class="container">
    <h1>Stupid Coaching</h1>
    <div class="row">
      <form action="/answer" method="get" class="">
          <div class="col-3">
            <label for="">Ask your coach anything</label>
            <input type="text" name="question" class="form-control">
          </div>
          <div class="col-7"><input type="submit" value="Ask" class="btn btn-primary"></div>
      </form>
    </div>
  </div>
